@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
	Layout = "master.cshtml";
}
@{
    if(Model.Content.HasValue("image"))
	{
		var imagePath = Model.Content.GetPropertyValue<string>("image");
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <img src="@Umbraco.Media(imagePath).Url" alt="@Umbraco.Media(imagePath).UrlName" />
            </div>
        </div>
	}
}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>@Umbraco.Field("heading")</h1>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        @Umbraco.Field("mainContent")
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
	    @{      
		    if (Model.Content.HasValue("Links") && Model.Content.GetPropertyValue<string>("Links").Length > 2)
		    {
			    <ul>
				    @foreach (var item in Model.Content.GetPropertyValue<JArray>("Links"))
				    {
					    var linkUrl = (item.Value<bool>("isInternal")) ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.Value<string>("link");
					    var linkTarget = item.Value<bool>("newWindow") ? "_blank" : null;
					    <li><a href="@linkUrl" target="@linkTarget">@(item.Value<string>("caption"))</a></li>
				    }
			    </ul>
		    }
	    } 
    </div>
</div>
<div class="mdl-grid">
	@{Html.RenderPartial("cardsExample");}
</div>