@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var selection = CurrentPage.Site().Children.Where("Visible");
    var rootNodes = Umbraco.TypedContentAtRoot();
    var homeNode = rootNodes.First(h => h.DocumentTypeAlias == "home");
	var img = Umbraco.TypedMedia(1213);
		var imgFile = img.Url;
}
@*
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">@Umbraco.Field("siteName", recursive: true)</span>
    <nav class="mdl-navigation">
		@{Html.RenderPartial("ancestorsCurrentPage");}
    </nav>
</div>
*@

<div class="mdl-layout__drawer">
    @*<span class="mdl-layout-title">@Umbraco.Field("siteName", recursive: true)</span>*@
		<span class="mdl-layout-title"><img src="@imgFile" style="width:100px"/></span>
    <nav class="mdl-navigation">
        @if (homeNode.Name == Model.Content.Name)
        {
            <a class="mdl-navigation__link" href="/">Home</a>
        }
        else
        {
            <a class="mdl-navigation__link" href="/">Home</a>
        }
        @foreach (var item in selection)
        {
            <a class="mdl-navigation__link" href="@item.Url">@item.Name</a>
        }
    </nav>
</div>
