@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
	var selection = Model.Content.Children.Last();
}
<div class="test ID@{@selection.Id;}">
	@if(selection.HasValue("image"))
	{
		var imagePath = selection.GetPropertyValue<string>("image");
		<img src="@Umbraco.Media(imagePath).Url" alt="@Umbraco.Media(imagePath).UrlName" />
		@*<style>.ID@{@selection.Id;} {background: url(@Umbraco.Media(imagePath).Url) center / cover}</style>*@
    }
</div>
	<div class="feature">
        <h1 class="">
		    <a class="" href="@selection.Url">@selection.Name</a>
	    </h1>
    </div>
	<div class="feature">
		<p class="">@(Umbraco.Truncate(selection.GetPropertyValue("mainContent").ToString(), 200, true))</p>
	</div>