@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
 var root = Model.Content.AncestorOrSelf(1);
 int docId = Model.Content.Id;
 var nodes = root.Descendants("newsArticle");
}
<div class="mdl-cell mdl-cell--12-col">
	<h2>News / Updates</h2>
</div>	
@{
 foreach(var node in nodes.Take(2)){
  if(node.Id != docId){
    <div class="test ID@{@node.Id;} mdl-cell mdl-cell--4-col mdl-shadow--2dp">
	 @if(node.HasValue("image")){   	
     <div>     
      <img src="@Umbraco.TypedMedia(node.GetPropertyValue("image")).Url" />
     </div>
     <div class="mdl-card__supporting-text">	
      <h3><a href="@node.Url">@node.Name</a></h3>	   
      <p>@(Umbraco.Truncate(node.GetPropertyValue("mainContent").ToString(), 200, true))</p>
     </div>
	 }else{
	 <div class="mdl-card__supporting-text">	
      <h3><a href="@node.Url">@node.Name</a></h3>	   
      <p>@(Umbraco.Truncate(node.GetPropertyValue("mainContent").ToString(), 200, true))</p> 
     </div>	
	 }		 
    </div>
  }
 }
}