@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
 var root = Model.Content.AncestorOrSelf(1);
 int docId = Model.Content.Id;
 var nodes = root.Children.Where(x => x.Level == 2 && x.Name == "Departments");
}
<div class="feature mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell-12-col-phone">
	<a href="/departments/"><h2>Departments</h2></a>
</div>	
	
@{
 foreach(var node in nodes){
  if(node.Id != docId){    
    foreach(var cn in node.Children){
        <div class="test ID@{@cn.Id;} mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp">
	     @if(cn.HasValue("image")){   	
         <div>     
          <img src="@Umbraco.TypedMedia(cn.GetPropertyValue("image")).Url" />
         </div>
         <div class="mdl-card__supporting-text">	
          <h3><a href="@cn.Url">@cn.Name</a></h3>	   
          <p>@(Umbraco.Truncate(node.GetPropertyValue("mainContent").ToString(), 200, true))</p>
         </div>
	     }else{
	     <div class="mdl-card__supporting-text">	
          <h3><a href="@cn.Url">@cn.Name</a></h3>	   
          <p>@(Umbraco.Truncate(node.GetPropertyValue("mainContent").ToString(), 200, true))</p> 
         </div>	
	     }		 
        </div>
    }
  }
 }
}